<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>

    <%= render 'layouts/rails_default' %>
    
    <!-- IE 9 specific html script -->
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">    
      <%= yield %> 
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
